extends main_template

block content
    table(class="table" id = "gallery_table")
        thead
            tr
                th(scope="col") #
                th(scope="col") Название
                th(scope="col") Автор
                th(scope="col") Информация

    include picture_modal

block sidebar
    button(type="button" class="btn black_button col-sm" onclick="show_add_image()") Добавить

block scripts
    script(src="/js/index.js")