div(class='w3-card w3-light-gray w3-margin')
    div(class='w3-container w3-red')
        h3 Управление аукционом
    div(class='w3-container')
        p
            label Выбрать картину
            select(class='w3-select' id='pictures_select')
        div(class='w3-bar w3-margin-bottom')
            button(class='w3-button w3-green w3-margin-right' onclick='setPicture()' id='set_button') Поставить на ознакомление
            button(class='w3-button w3-orange' onclick='startAuction()' id='start_auc_button' disabled) Запустить аукцион
script(src='/javascript/admin_controls.js')