div(class='w3-card w3-light-gray w3-margin')
    div(class='w3-container w3-green')
        h3 Информация о картине
    div(class='w3-container w3-light-gray')
        div(class='w3-row w3-margin-bottom')
            div(class='w3-half w3-padding')
                img(src='/res/dummy.jpg' id='output_image_info' style='max-width: 100%; max-height: 100%')
                button(class='w3-button w3-margin-top w3-green w3-block'
                    onclick='document.getElementById("picture_info").style.display="block"') Информация
            div(class='w3-half')
                p
                    label Обратный отсчёт
                    input(class='w3-input w3-border w3-white' id='timeout_info' type='number' disabled)
                p
                    label Название
                    input(class='w3-input w3-border w3-white' id='name_input_info' type='text' disabled)
                p
                    label Автор
                    input(class='w3-input w3-border w3-white' id='author_input_info' type='text' disabled)
        div(class='w3-row')
            div(class='w3-half')
                p
                    label Начальная цена
                    input(class='w3-input w3-border w3-white' id='start_price_input_info' type='number' disabled)
            div(class='w3-half')
                p
                    label Текущая цена
                    input(class='w3-input w3-border w3-white' id='current_price_info' type='number' disabled)
include picture_modal
script(src='/javascript/picture_info.js')