extend main_template

block main_content
    div(class='w3-container' style="margin-top: 45px")
        div(class='w3-quarter w3-padding-small')
            div(class='w3-card w3-light-blue')
                block sidebar
        div(class='w3-threequarter w3-padding-small')
            div(class='w3-card w3-blue-gray')
                block content