extends main_template

block content
    div(class='w3-container w3-blue')
        h2 Регистрация
    form(class='w3-container' onsubmit="return false")
        p
            label Логин
            input(class='w3-input' type='text' id='login_input' required)
        p
            label Имя
            input(class='w3-input' type='text' id='name_input' required)
        p
            label Пароль
            input(class='w3-input' type='password' id='password_input' required)
        p
            label Тип
            select(class='w3-select' id='type_input')
                option(value='true') Администратор
                option(value='false') Участник
        p
            button(class='w3-button w3-green w3-margin-right' onclick='create()') Новый пользователь

block scripts
    script(src='javascript/registration.js')