extends main_template

block modals
    div(class='w3-row')
        div(class='w3-col s12 m7')
            include includes/picture_info
        div(class='w3-col s12 m5')
            include includes/user_controls
            include includes/trade_log


block content
